fastapi
uvicorn
neo4j
pydantic
python-dotenv
networkx
google-ai-generativelanguage==0.6.15
google-api-core==2.30.0
google-api-python-client==2.192.0
google-auth==2.49.0
google-auth-httplib2==0.3.0
google-cloud-aiplatform==1.147.0
google-cloud-bigquery==3.41.0
google-cloud-core==2.5.1
google-cloud-resource-manager==1.17.0
google-cloud-storage==3.9.0
google-crc32c==1.8.0
google-genai==1.47.0
google-generativeai==0.8.6
google-resumable-media==2.8.2
googleapis-common-protos==1.73.0
grpc-google-iam-v1==0.14.4